body{
  background-color: #e6f7ff;
  font-size: 18px;
}
.header{
  background: url("gallery/dog-header.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.header img {
  display: inline-block;
  width: 98px;
  height: 100px;
  padding: 0;
  margin-right: 3px;
  background-color: rgb(0,191,255);
}

.header h1 {
  display: inline-block;
  height: 100px;
  width: auto;
  vertical-align: top;
  font-size: 38px;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 1070px){
    .header h1 {
        display: none;
    }
}

.header nav{
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: top;
  height: 200px;
}

.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.header li{
  display: inline;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
}

.header a:link{
  text-decoration: none;
  color: white;
}

.header a:focus, .header a:hover, .header a:active{
  color: rgb(230,240,240);
}

.header a:active{
  text-decoration: underline;
}

form {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}
.button{
    background-color: violet;
    color: white;
    padding: 4px 9px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-style: oblique;
}

.button:hover {
    background-color: rgb(230,240,240);
    color: Black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.slides {
  width: 80%;
  padding: 3% 10% 0 27%;
}
.slides img{
  width: 60%;
  height: 400px;
  border-radius: 5px;
}


.copy{
  background-color: rgba(231,211,211,0.5);
  border-radius: 9px;
  padding: 3px;
  height: auto;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
}

.copy footer{
  text-align:right;
}
