<div class="sections">
  <section>
    <h3>German Shepherds</h3>
    <ul>
      <li><a href="#">Ally</a></li>
      <li><a href="#">Belle</a></li>
      <li><a href="#">Charlie</a></li>
    </ul>
  </section><section>
    <h3>Beagles</h3>
    <ul>
      <li><a href="#">Herms</a></li>
      <li><a href="#">Kira</a></li>
      <li><a href="#">Tommy</a></li>
    </ul>
  </section><section>
    <h3>Labadors</h3>
    <ul>
      <li><a href="#">Victor</a></li>
      <li><a href="#">Hugo</a></li>
      <li><a href="#">Ozzy</a></li>
    </ul>
  </section>
</div>

.sections section{
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 28%;
    padding-left: 5%;
    background-color: rgba(231,211,211,0.5);
    border-radius: 4px;
}
.sections li{
  list-style: none;
}
