body{
  background-color: #e6f7ff;
  font-size: 18px;
}

a:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  position: relative;
}

.header ::after {
  content: "";
  background: url("gallery/dog-header.jpg") no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header img {
  display: inline-block;
  width: 98px;
  height: 100px;
  padding: 0;
  margin-right: 3px;
  background-color: rgb(0,191,255);
}


.header nav{
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: top;
  height: 500px;
  margin-left: 0;
}

.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.header li{
  display: inline;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
}

.header a:link{
  text-decoration: none;
  color: white;
}

.header a:focus, .header a:hover, .header a:active{
  color: rgb(230,240,240);
}

.header a:active{
  text-decoration: underline;
}

form {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

.search {
  color: white;
}

.button {
    background-color: #ff6666;
    color: white;
    padding: 4px 9px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-style: oblique;
}

.button:hover {
    background-color: rgb(230,240,240);
    color: Black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.login{
  vertical-align: baseline;
}

.button-big{
    background-color: #ff6666;
    color: white;
    margin-left: 260px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Lato Bold", sans-serif;
    font-style: oblique;
    align-items: center;
}

.button-big:hover {
    background-color: rgb(230,240,240);
    color: Black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.intro {
  margin-top: -470px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.intro h1 {
  display: block;
  width: auto;
  font-size: 38px;
}

@media only screen and (max-width: 1070px){
    .header h1 {
        display: none;
    }
}


.slides {
  background: url("gallery/Wolfie.jpg") no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 96%;
  height: 640px;
  justify-content: center;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}

.slides h3{

  color: white;
  position: absolute;
  top: 10%;
  left:5%;
  width:100%;

}

.choose{
  width: 80%;
  position: absolute;
  bottom: -20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 1070px){
    .choose {
        display: none;
    }
}

.center {
  text-align: center;
}

.security {
  background: url("gallery/share1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 390px;
}

.lefty {
  max-width: 50%;
  margin-left: 5%;
}

.paragraph {
  padding-top: 10px;
  padding-bottom: 10px;
}

.share {
  padding-left: 15px;
}

.memories {
  list-style: square;
}

.follow {
  padding-bottom: 15px;
}

.socials {
  padding-top: 15px;
  list-style: none;
}

.icon {
  display: inline-block;
  padding: 20px;
}

.email {
  text-align: right;
  padding-right: 10px;
}

.copy{
  background-color: rgba(231,211,211,0.5);
  border-radius: 9px;
  padding: 3px;
  height: auto;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
}

.copy footer{
  text-align:right;
}
